<%- include('../partials/header') %>
    <div id="all-c">
        <% jobs.forEach(function(j) { %>
            <div id="cards">
                <div id="in-card">
                    <div id="c-idx">
                        <%= j.company %>
                    </div>
                    <div id="t-idx">
                        <%= j.title %>
                    </div>
                    <div id="d-idx">
                        <a href="/jobs/<%= j._id %>">DETAILS</a>

                        <form action="/jobs/<%= j.id %>?_method=DELETE" method="POST" class="delete">
                            <button type="submit">X</button>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
    <%- include('../partials/footer') %>